extends layout


block content
  - var clientId = '97aff5bb-e454-4e69-acd1-047ba67123af'

  h1= title
  if user
    p Hello #{user.firstName}
  else
    a(href='https://team-bam.fusionauth.io/oauth2/authorize?client_id=97aff5bb-e454-4e69-acd1-047ba67123af&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Foauth-redirect') Login

  p Welcome to #{title}
